.footer{
    padding: 12px;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 1px gray;
    background-color: cornflowerblue;
    color: white;
}

.header{
        padding: 10px;
        width: 40%;
        margin-top: 5px;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 2px 2px 5px 1px gray;
        background-color: cornflowerblue;
        color: white;

}

.sub-container {
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 1px gray;
}
.image-conatiner{
    width: 45%;
    box-shadow: 2px 2px 5px 1px gray;
    border-radius: 15px;
    border: 7px double black;
}
.btn-randon{
    width: 25%;
    border-radius: 10px;
    color: white;
    height: 40px;
    background-color: green;
}
.btn-randon:hover{
    box-shadow: 2px 2px 5px 1px gray;
}


