.sub-container{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 1px gray;
}
.gradient{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(97,186,255,1) 0%, rgba(166,239,253,1) 90.1% );
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}
.select-box{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px gray;
}
.random-image{
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 1px gray;
    background-color: cornflowerblue;
    color: white;
}
